old
robosherlock_test
pt_results
object-recognition/ncc-extension
object-recognition/temp.jpg
object-recognition/checkpoint.pt
object-recognition/pt_results
object-recognition/data/embeddings
object-recognition/data/imagenet_attributes
object-recognition/data/kmish25
object-recognition/data/numberbatch
object-recognition/data/visual_genome
object-recognition/data/objectness_trained_model
object-recognition/data/yolo
object-recognition/data/opencv-zoo
object-recognition/data/raw
object-recognition/data/processed
object-recognition/data/Hans-all
object-recognition/data/Hans-split
object-recognition/data/low_shot
object-recognition/data/KMi_collection