semantic-map-docker/temp.jpg
semantic-map-docker/checkpoint.pt
semantic-map-docker/pt_results
semantic-map-docker/data/embeddings
semantic-map-docker/data/imagenet_attributes
semantic-map-docker/data/kmish25
semantic-map-docker/data/numberbatch
semantic-map-docker/data/visual_genome
semantic-map-docker/data/objectness_trained_model
semantic-map-docker/data/yolo/yolov3.weights
semantic-map-docker/data/raw
semantic-map-docker/data/processed
semantic-map-docker/data/Hans-all
semantic-map-docker/data/Hans-split
semantic-map-docker/data/low_shot
semantic-map-docker/data/KMi_collection